{% extends '/backoffice/base.html.twig' %}
{% block title %}Login{% endblock %}

{% block body %}
 <div class="container">
        <div class="row mt-4">
          <div class="row col-md-6 mx-auto">
            <div class="card bg-light rounded">
              <div class="container-fluid">
                <h3 class="card-title text-default p-4" style="color: black;"> <center>Insertion des informations</center></h3>
                <div class="card-body mt-2 rounded">
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    

 {% endblock %}